<div class="ditty" id="ditty-{%=id%}">
    <h3 class="title">#{%=id%} {%=title%}</h3>
    <span class="ditty_control">
        <a class="close" href="#close">close</a>
        <a class="delete" href="del:{%=title%}">delete</a>
        <a class="edit" href="edit:{%=title%}">edit</a>
        <a class="cancel" href="#cancel">cancel edit</a>
    </span><br>
<div class="body"></div>
<ul class="tags">
<li>tags would be here</li>
</ul>
</div>
