<div class="ditty" id="ditty-{%=id%}">
    <h3 class="title">{%=title%}</h3>
    <span class="ditty_control">
        <a class="close" href="{%=title%}">close</a>
        <a class="edit" href="{%=title%}">edit</a>
        <a class="cancel" href="{%=title%}">cancel</a>
        <a class="done" href="{%=title%}">done</a>
        <a class="delete" href="{%=title%}">delete</a>
    </span><br>
<div class="body"></div>
<ul class="tags">
<li>tags would be here</li>
</ul>
</div>
